SUPABASE_URL=https://qvmhpumfnawuirsvexma.supabase.co
SUPABASE_ANON_KEY=sb_publishable_4bTfH9ya1Mqo5Cf88tc-XA_sRKy4kXg
VAPID_PUBLIC_KEY=BMy5R1dLTqBGmJh0_3VPBw0ZrvNIwi1WAw4lx6Py_LWdb-AbWiQPEQm-nh26Wlflia9iG-XN7yhQisFn8Y4zvts
